@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("MaterialIcons-Regular.woff2") format("woff2"), url("MaterialIcons-Regular.woff") format("woff");
}

.material-icons, .material-icons-outlined, .material-icons-round, .material-icons-sharp, .material-icons-two-tone {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("MaterialIconsOutlined-Regular.woff2") format("woff2"), url("MaterialIconsOutlined-Regular.woff") format("woff");
}

.material-icons-outlined {
  font-family: "Material Icons Outlined";
}

@font-face {
  font-family: "Material Icons Round";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("MaterialIconsRound-Regular.woff2") format("woff2"), url("MaterialIconsRound-Regular.woff") format("woff");
}

.material-icons-round {
  font-family: "Material Icons Round";
}

@font-face {
  font-family: "Material Icons Sharp";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("MaterialIconsSharp-Regular.woff2") format("woff2"), url("MaterialIconsSharp-Regular.woff") format("woff");
}

.material-icons-sharp {
  font-family: "Material Icons Sharp";
}

@font-face {
  font-family: "Material Icons Two Tone";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("MaterialIconsTwoTone-Regular.woff2") format("woff2"), url("MaterialIconsTwoTone-Regular.woff") format("woff");
}

.material-icons-two-tone {
  font-family: "Material Icons Two Tone";
}
