@import 'variables';
@import 'mixins';

@include material-icons-font-face('Material Icons');

.material-icons {
  @include material-icons('Material Icons');
}

@each $name in 'Outlined', 'Round', 'Sharp', 'Two Tone' {
  $font-family: 'Material Icons #{$name}';
  $class-name: material-icons-str-replace(to-lower-case($name), ' ', '-');

  @include material-icons-font-face($font-family);

  .material-icons-#{$class-name} {
    @extend .material-icons;
    font-family: $font-family;
  }
}
