.{icon-prefix} {
  position: relative;
  top: 1px;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  text-rendering: auto;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Rules for sizing the icon.
.{icon-prefix}-18 { font-size: 18px; }
.{icon-prefix}-24 { font-size: 24px; }
.{icon-prefix}-36 { font-size: 36px; }
.{icon-prefix}-48 { font-size: 48px; }

// Rules for using icons as black on a light background.
.{icon-prefix}-dark { color: rgba(0, 0, 0, 0.54); }
.{icon-prefix}-dark.{icon-prefix}-disabled { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background.
.{icon-prefix}-light { color: rgba(255, 255, 255, 1); }
.{icon-prefix}-light.{icon-prefix}-disabled { color: rgba(255, 255, 255, 0.3); }
