.{icon-prefix}-3d-rotation:before { content: "\e84d"; }
.{icon-prefix}-access-alarm:before { content: "\e190"; }
.{icon-prefix}-access-alarms:before { content: "\e191"; }
.{icon-prefix}-access-time:before { content: "\e192"; }
.{icon-prefix}-accessibility:before { content: "\e84e"; }
.{icon-prefix}-account-balance:before { content: "\e84f"; }
.{icon-prefix}-account-balance-wallet:before { content: "\e850"; }
.{icon-prefix}-account-box:before { content: "\e851"; }
.{icon-prefix}-account-circle:before { content: "\e853"; }
.{icon-prefix}-adb:before { content: "\e60e"; }
.{icon-prefix}-add:before { content: "\e145"; }
.{icon-prefix}-add-alarm:before { content: "\e193"; }
.{icon-prefix}-add-alert:before { content: "\e003"; }
.{icon-prefix}-add-box:before { content: "\e146"; }
.{icon-prefix}-add-circle:before { content: "\e147"; }
.{icon-prefix}-add-circle-outline:before { content: "\e148"; }
.{icon-prefix}-add-shopping-cart:before { content: "\e854"; }
.{icon-prefix}-add-to-photos:before { content: "\e39d"; }
.{icon-prefix}-adjust:before { content: "\e39e"; }
.{icon-prefix}-airline-seat-flat:before { content: "\e630"; }
.{icon-prefix}-airline-seat-flat-angled:before { content: "\e631"; }
.{icon-prefix}-airline-seat-individual-suite:before { content: "\e632"; }
.{icon-prefix}-airline-seat-legroom-extra:before { content: "\e633"; }
.{icon-prefix}-airline-seat-legroom-normal:before { content: "\e634"; }
.{icon-prefix}-airline-seat-legroom-reduced:before { content: "\e635"; }
.{icon-prefix}-airline-seat-recline-extra:before { content: "\e636"; }
.{icon-prefix}-airline-seat-recline-normal:before { content: "\e637"; }
.{icon-prefix}-airplanemode-active:before { content: "\e195"; }
.{icon-prefix}-airplanemode-inactive:before { content: "\e194"; }
.{icon-prefix}-airplay:before { content: "\e055"; }
.{icon-prefix}-alarm:before { content: "\e855"; }
.{icon-prefix}-alarm-add:before { content: "\e856"; }
.{icon-prefix}-alarm-off:before { content: "\e857"; }
.{icon-prefix}-alarm-on:before { content: "\e858"; }
.{icon-prefix}-album:before { content: "\e019"; }
.{icon-prefix}-android:before { content: "\e859"; }
.{icon-prefix}-announcement:before { content: "\e85a"; }
.{icon-prefix}-apps:before { content: "\e5c3"; }
.{icon-prefix}-archive:before { content: "\e149"; }
.{icon-prefix}-arrow-back:before { content: "\e5c4"; }
.{icon-prefix}-arrow-drop-down:before { content: "\e5c5"; }
.{icon-prefix}-arrow-drop-down-circle:before { content: "\e5c6"; }
.{icon-prefix}-arrow-drop-up:before { content: "\e5c7"; }
.{icon-prefix}-arrow-forward:before { content: "\e5c8"; }
.{icon-prefix}-aspect-ratio:before { content: "\e85b"; }
.{icon-prefix}-assessment:before { content: "\e85c"; }
.{icon-prefix}-assignment:before { content: "\e85d"; }
.{icon-prefix}-assignment-ind:before { content: "\e85e"; }
.{icon-prefix}-assignment-late:before { content: "\e85f"; }
.{icon-prefix}-assignment-return:before { content: "\e860"; }
.{icon-prefix}-assignment-returned:before { content: "\e861"; }
.{icon-prefix}-assignment-turned-in:before { content: "\e862"; }
.{icon-prefix}-assistant:before { content: "\e39f"; }
.{icon-prefix}-assistant-photo:before { content: "\e3a0"; }
.{icon-prefix}-attach-file:before { content: "\e226"; }
.{icon-prefix}-attach-money:before { content: "\e227"; }
.{icon-prefix}-attachment:before { content: "\e2bc"; }
.{icon-prefix}-audiotrack:before { content: "\e3a1"; }
.{icon-prefix}-autorenew:before { content: "\e863"; }
.{icon-prefix}-av-timer:before { content: "\e01b"; }
.{icon-prefix}-backspace:before { content: "\e14a"; }
.{icon-prefix}-backup:before { content: "\e864"; }
.{icon-prefix}-battery-alert:before { content: "\e19c"; }
.{icon-prefix}-battery-charging-full:before { content: "\e1a3"; }
.{icon-prefix}-battery-full:before { content: "\e1a4"; }
.{icon-prefix}-battery-std:before { content: "\e1a5"; }
.{icon-prefix}-battery-unknown:before { content: "\e1a6"; }
.{icon-prefix}-beenhere:before { content: "\e52d"; }
.{icon-prefix}-block:before { content: "\e14b"; }
.{icon-prefix}-bluetooth:before { content: "\e1a7"; }
.{icon-prefix}-bluetooth-audio:before { content: "\e60f"; }
.{icon-prefix}-bluetooth-connected:before { content: "\e1a8"; }
.{icon-prefix}-bluetooth-disabled:before { content: "\e1a9"; }
.{icon-prefix}-bluetooth-searching:before { content: "\e1aa"; }
.{icon-prefix}-blur-circular:before { content: "\e3a2"; }
.{icon-prefix}-blur-linear:before { content: "\e3a3"; }
.{icon-prefix}-blur-off:before { content: "\e3a4"; }
.{icon-prefix}-blur-on:before { content: "\e3a5"; }
.{icon-prefix}-book:before { content: "\e865"; }
.{icon-prefix}-bookmark:before { content: "\e866"; }
.{icon-prefix}-bookmark-border:before { content: "\e867"; }
.{icon-prefix}-border-all:before { content: "\e228"; }
.{icon-prefix}-border-bottom:before { content: "\e229"; }
.{icon-prefix}-border-clear:before { content: "\e22a"; }
.{icon-prefix}-border-color:before { content: "\e22b"; }
.{icon-prefix}-border-horizontal:before { content: "\e22c"; }
.{icon-prefix}-border-inner:before { content: "\e22d"; }
.{icon-prefix}-border-left:before { content: "\e22e"; }
.{icon-prefix}-border-outer:before { content: "\e22f"; }
.{icon-prefix}-border-right:before { content: "\e230"; }
.{icon-prefix}-border-style:before { content: "\e231"; }
.{icon-prefix}-border-top:before { content: "\e232"; }
.{icon-prefix}-border-vertical:before { content: "\e233"; }
.{icon-prefix}-brightness-1:before { content: "\e3a6"; }
.{icon-prefix}-brightness-2:before { content: "\e3a7"; }
.{icon-prefix}-brightness-3:before { content: "\e3a8"; }
.{icon-prefix}-brightness-4:before { content: "\e3a9"; }
.{icon-prefix}-brightness-5:before { content: "\e3aa"; }
.{icon-prefix}-brightness-6:before { content: "\e3ab"; }
.{icon-prefix}-brightness-7:before { content: "\e3ac"; }
.{icon-prefix}-brightness-auto:before { content: "\e1ab"; }
.{icon-prefix}-brightness-high:before { content: "\e1ac"; }
.{icon-prefix}-brightness-low:before { content: "\e1ad"; }
.{icon-prefix}-brightness-medium:before { content: "\e1ae"; }
.{icon-prefix}-broken-image:before { content: "\e3ad"; }
.{icon-prefix}-brush:before { content: "\e3ae"; }
.{icon-prefix}-bug-report:before { content: "\e868"; }
.{icon-prefix}-build:before { content: "\e869"; }
.{icon-prefix}-business:before { content: "\e0af"; }
.{icon-prefix}-cached:before { content: "\e86a"; }
.{icon-prefix}-cake:before { content: "\e7e9"; }
.{icon-prefix}-call:before { content: "\e0b0"; }
.{icon-prefix}-call-end:before { content: "\e0b1"; }
.{icon-prefix}-call-made:before { content: "\e0b2"; }
.{icon-prefix}-call-merge:before { content: "\e0b3"; }
.{icon-prefix}-call-missed:before { content: "\e0b4"; }
.{icon-prefix}-call-received:before { content: "\e0b5"; }
.{icon-prefix}-call-split:before { content: "\e0b6"; }
.{icon-prefix}-camera:before { content: "\e3af"; }
.{icon-prefix}-camera-alt:before { content: "\e3b0"; }
.{icon-prefix}-camera-enhance:before { content: "\e8fc"; }
.{icon-prefix}-camera-front:before { content: "\e3b1"; }
.{icon-prefix}-camera-rear:before { content: "\e3b2"; }
.{icon-prefix}-camera-roll:before { content: "\e3b3"; }
.{icon-prefix}-cancel:before { content: "\e5c9"; }
.{icon-prefix}-card-giftcard:before { content: "\e8f6"; }
.{icon-prefix}-card-membership:before { content: "\e8f7"; }
.{icon-prefix}-card-travel:before { content: "\e8f8"; }
.{icon-prefix}-cast:before { content: "\e307"; }
.{icon-prefix}-cast-connected:before { content: "\e308"; }
.{icon-prefix}-center-focus-strong:before { content: "\e3b4"; }
.{icon-prefix}-center-focus-weak:before { content: "\e3b5"; }
.{icon-prefix}-change-history:before { content: "\e86b"; }
.{icon-prefix}-chat:before { content: "\e0b7"; }
.{icon-prefix}-chat-bubble:before { content: "\e0ca"; }
.{icon-prefix}-chat-bubble-outline:before { content: "\e0cb"; }
.{icon-prefix}-check:before { content: "\e5ca"; }
.{icon-prefix}-check-box:before { content: "\e834"; }
.{icon-prefix}-check-box-outline-blank:before { content: "\e835"; }
.{icon-prefix}-check-circle:before { content: "\e86c"; }
.{icon-prefix}-chevron-left:before { content: "\e5cb"; }
.{icon-prefix}-chevron-right:before { content: "\e5cc"; }
.{icon-prefix}-chrome-reader-mode:before { content: "\e86d"; }
.{icon-prefix}-class:before { content: "\e86e"; }
.{icon-prefix}-clear:before { content: "\e14c"; }
.{icon-prefix}-clear-all:before { content: "\e0b8"; }
.{icon-prefix}-close:before { content: "\e5cd"; }
.{icon-prefix}-closed-caption:before { content: "\e01c"; }
.{icon-prefix}-cloud:before { content: "\e2bd"; }
.{icon-prefix}-cloud-circle:before { content: "\e2be"; }
.{icon-prefix}-cloud-done:before { content: "\e2bf"; }
.{icon-prefix}-cloud-download:before { content: "\e2c0"; }
.{icon-prefix}-cloud-off:before { content: "\e2c1"; }
.{icon-prefix}-cloud-queue:before { content: "\e2c2"; }
.{icon-prefix}-cloud-upload:before { content: "\e2c3"; }
.{icon-prefix}-code:before { content: "\e86f"; }
.{icon-prefix}-collections:before { content: "\e3b6"; }
.{icon-prefix}-collections-bookmark:before { content: "\e431"; }
.{icon-prefix}-color-lens:before { content: "\e3b7"; }
.{icon-prefix}-colorize:before { content: "\e3b8"; }
.{icon-prefix}-comment:before { content: "\e0b9"; }
.{icon-prefix}-compare:before { content: "\e3b9"; }
.{icon-prefix}-computer:before { content: "\e30a"; }
.{icon-prefix}-confirmation-number:before { content: "\e638"; }
.{icon-prefix}-contact-phone:before { content: "\e0cf"; }
.{icon-prefix}-contacts:before { content: "\e0ba"; }
.{icon-prefix}-content-copy:before { content: "\e14d"; }
.{icon-prefix}-content-cut:before { content: "\e14e"; }
.{icon-prefix}-content-paste:before { content: "\e14f"; }
.{icon-prefix}-control-point:before { content: "\e3ba"; }
.{icon-prefix}-control-point-duplicate:before { content: "\e3bb"; }
.{icon-prefix}-create:before { content: "\e150"; }
.{icon-prefix}-credit-card:before { content: "\e870"; }
.{icon-prefix}-crop:before { content: "\e3be"; }
.{icon-prefix}-crop-16-9:before { content: "\e3bc"; }
.{icon-prefix}-crop-3-2:before { content: "\e3bd"; }
.{icon-prefix}-crop-5-4:before { content: "\e3bf"; }
.{icon-prefix}-crop-7-5:before { content: "\e3c0"; }
.{icon-prefix}-crop-din:before { content: "\e3c1"; }
.{icon-prefix}-crop-free:before { content: "\e3c2"; }
.{icon-prefix}-crop-landscape:before { content: "\e3c3"; }
.{icon-prefix}-crop-original:before { content: "\e3c4"; }
.{icon-prefix}-crop-portrait:before { content: "\e3c5"; }
.{icon-prefix}-crop-square:before { content: "\e3c6"; }
.{icon-prefix}-dashboard:before { content: "\e871"; }
.{icon-prefix}-data-usage:before { content: "\e1af"; }
.{icon-prefix}-dehaze:before { content: "\e3c7"; }
.{icon-prefix}-delete:before { content: "\e872"; }
.{icon-prefix}-description:before { content: "\e873"; }
.{icon-prefix}-desktop-mac:before { content: "\e30b"; }
.{icon-prefix}-desktop-windows:before { content: "\e30c"; }
.{icon-prefix}-details:before { content: "\e3c8"; }
.{icon-prefix}-developer-board:before { content: "\e30d"; }
.{icon-prefix}-developer-mode:before { content: "\e1b0"; }
.{icon-prefix}-device-hub:before { content: "\e335"; }
.{icon-prefix}-devices:before { content: "\e1b1"; }
.{icon-prefix}-dialer-sip:before { content: "\e0bb"; }
.{icon-prefix}-dialpad:before { content: "\e0bc"; }
.{icon-prefix}-directions:before { content: "\e52e"; }
.{icon-prefix}-directions-bike:before { content: "\e52f"; }
.{icon-prefix}-directions-boat:before { content: "\e532"; }
.{icon-prefix}-directions-bus:before { content: "\e530"; }
.{icon-prefix}-directions-car:before { content: "\e531"; }
.{icon-prefix}-directions-railway:before { content: "\e534"; }
.{icon-prefix}-directions-run:before { content: "\e566"; }
.{icon-prefix}-directions-subway:before { content: "\e533"; }
.{icon-prefix}-directions-transit:before { content: "\e535"; }
.{icon-prefix}-directions-walk:before { content: "\e536"; }
.{icon-prefix}-disc-full:before { content: "\e610"; }
.{icon-prefix}-dns:before { content: "\e875"; }
.{icon-prefix}-do-not-disturb:before { content: "\e612"; }
.{icon-prefix}-do-not-disturb-alt:before { content: "\e611"; }
.{icon-prefix}-dock:before { content: "\e30e"; }
.{icon-prefix}-domain:before { content: "\e7ee"; }
.{icon-prefix}-done:before { content: "\e876"; }
.{icon-prefix}-done-all:before { content: "\e877"; }
.{icon-prefix}-drafts:before { content: "\e151"; }
.{icon-prefix}-drive-eta:before { content: "\e613"; }
.{icon-prefix}-dvr:before { content: "\e1b2"; }
.{icon-prefix}-edit:before { content: "\e3c9"; }
.{icon-prefix}-eject:before { content: "\e8fb"; }
.{icon-prefix}-email:before { content: "\e0be"; }
.{icon-prefix}-equalizer:before { content: "\e01d"; }
.{icon-prefix}-error:before { content: "\e000"; }
.{icon-prefix}-error-outline:before { content: "\e001"; }
.{icon-prefix}-event:before { content: "\e878"; }
.{icon-prefix}-event-available:before { content: "\e614"; }
.{icon-prefix}-event-busy:before { content: "\e615"; }
.{icon-prefix}-event-note:before { content: "\e616"; }
.{icon-prefix}-event-seat:before { content: "\e903"; }
.{icon-prefix}-exit-to-app:before { content: "\e879"; }
.{icon-prefix}-expand-less:before { content: "\e5ce"; }
.{icon-prefix}-expand-more:before { content: "\e5cf"; }
.{icon-prefix}-explicit:before { content: "\e01e"; }
.{icon-prefix}-explore:before { content: "\e87a"; }
.{icon-prefix}-exposure:before { content: "\e3ca"; }
.{icon-prefix}-exposure-neg-1:before { content: "\e3cb"; }
.{icon-prefix}-exposure-neg-2:before { content: "\e3cc"; }
.{icon-prefix}-exposure-plus-1:before { content: "\e3cd"; }
.{icon-prefix}-exposure-plus-2:before { content: "\e3ce"; }
.{icon-prefix}-exposure-zero:before { content: "\e3cf"; }
.{icon-prefix}-extension:before { content: "\e87b"; }
.{icon-prefix}-face:before { content: "\e87c"; }
.{icon-prefix}-fast-forward:before { content: "\e01f"; }
.{icon-prefix}-fast-rewind:before { content: "\e020"; }
.{icon-prefix}-favorite:before { content: "\e87d"; }
.{icon-prefix}-favorite-border:before { content: "\e87e"; }
.{icon-prefix}-feedback:before { content: "\e87f"; }
.{icon-prefix}-file-download:before { content: "\e2c4"; }
.{icon-prefix}-file-upload:before { content: "\e2c6"; }
.{icon-prefix}-filter:before { content: "\e3d3"; }
.{icon-prefix}-filter-1:before { content: "\e3d0"; }
.{icon-prefix}-filter-2:before { content: "\e3d1"; }
.{icon-prefix}-filter-3:before { content: "\e3d2"; }
.{icon-prefix}-filter-4:before { content: "\e3d4"; }
.{icon-prefix}-filter-5:before { content: "\e3d5"; }
.{icon-prefix}-filter-6:before { content: "\e3d6"; }
.{icon-prefix}-filter-7:before { content: "\e3d7"; }
.{icon-prefix}-filter-8:before { content: "\e3d8"; }
.{icon-prefix}-filter-9:before { content: "\e3d9"; }
.{icon-prefix}-filter-9-plus:before { content: "\e3da"; }
.{icon-prefix}-filter-b-and-w:before { content: "\e3db"; }
.{icon-prefix}-filter-center-focus:before { content: "\e3dc"; }
.{icon-prefix}-filter-drama:before { content: "\e3dd"; }
.{icon-prefix}-filter-frames:before { content: "\e3de"; }
.{icon-prefix}-filter-hdr:before { content: "\e3df"; }
.{icon-prefix}-filter-list:before { content: "\e152"; }
.{icon-prefix}-filter-none:before { content: "\e3e0"; }
.{icon-prefix}-filter-tilt-shift:before { content: "\e3e2"; }
.{icon-prefix}-filter-vintage:before { content: "\e3e3"; }
.{icon-prefix}-find-in-page:before { content: "\e880"; }
.{icon-prefix}-find-replace:before { content: "\e881"; }
.{icon-prefix}-flag:before { content: "\e153"; }
.{icon-prefix}-flare:before { content: "\e3e4"; }
.{icon-prefix}-flash-auto:before { content: "\e3e5"; }
.{icon-prefix}-flash-off:before { content: "\e3e6"; }
.{icon-prefix}-flash-on:before { content: "\e3e7"; }
.{icon-prefix}-flight:before { content: "\e539"; }
.{icon-prefix}-flight-land:before { content: "\e904"; }
.{icon-prefix}-flight-takeoff:before { content: "\e905"; }
.{icon-prefix}-flip:before { content: "\e3e8"; }
.{icon-prefix}-flip-to-back:before { content: "\e882"; }
.{icon-prefix}-flip-to-front:before { content: "\e883"; }
.{icon-prefix}-folder:before { content: "\e2c7"; }
.{icon-prefix}-folder-open:before { content: "\e2c8"; }
.{icon-prefix}-folder-shared:before { content: "\e2c9"; }
.{icon-prefix}-folder-special:before { content: "\e617"; }
.{icon-prefix}-font-download:before { content: "\e167"; }
.{icon-prefix}-format-align-center:before { content: "\e234"; }
.{icon-prefix}-format-align-justify:before { content: "\e235"; }
.{icon-prefix}-format-align-left:before { content: "\e236"; }
.{icon-prefix}-format-align-right:before { content: "\e237"; }
.{icon-prefix}-format-bold:before { content: "\e238"; }
.{icon-prefix}-format-clear:before { content: "\e239"; }
.{icon-prefix}-format-color-fill:before { content: "\e23a"; }
.{icon-prefix}-format-color-reset:before { content: "\e23b"; }
.{icon-prefix}-format-color-text:before { content: "\e23c"; }
.{icon-prefix}-format-indent-decrease:before { content: "\e23d"; }
.{icon-prefix}-format-indent-increase:before { content: "\e23e"; }
.{icon-prefix}-format-italic:before { content: "\e23f"; }
.{icon-prefix}-format-line-spacing:before { content: "\e240"; }
.{icon-prefix}-format-list-bulleted:before { content: "\e241"; }
.{icon-prefix}-format-list-numbered:before { content: "\e242"; }
.{icon-prefix}-format-paint:before { content: "\e243"; }
.{icon-prefix}-format-quote:before { content: "\e244"; }
.{icon-prefix}-format-size:before { content: "\e245"; }
.{icon-prefix}-format-strikethrough:before { content: "\e246"; }
.{icon-prefix}-format-textdirection-l-to-r:before { content: "\e247"; }
.{icon-prefix}-format-textdirection-r-to-l:before { content: "\e248"; }
.{icon-prefix}-format-underlined:before { content: "\e249"; }
.{icon-prefix}-forum:before { content: "\e0bf"; }
.{icon-prefix}-forward:before { content: "\e154"; }
.{icon-prefix}-forward-10:before { content: "\e056"; }
.{icon-prefix}-forward-30:before { content: "\e057"; }
.{icon-prefix}-forward-5:before { content: "\e058"; }
.{icon-prefix}-fullscreen:before { content: "\e5d0"; }
.{icon-prefix}-fullscreen-exit:before { content: "\e5d1"; }
.{icon-prefix}-functions:before { content: "\e24a"; }
.{icon-prefix}-gamepad:before { content: "\e30f"; }
.{icon-prefix}-games:before { content: "\e021"; }
.{icon-prefix}-gesture:before { content: "\e155"; }
.{icon-prefix}-get-app:before { content: "\e884"; }
.{icon-prefix}-gif:before { content: "\e908"; }
.{icon-prefix}-gps-fixed:before { content: "\e1b3"; }
.{icon-prefix}-gps-not-fixed:before { content: "\e1b4"; }
.{icon-prefix}-gps-off:before { content: "\e1b5"; }
.{icon-prefix}-grade:before { content: "\e885"; }
.{icon-prefix}-gradient:before { content: "\e3e9"; }
.{icon-prefix}-grain:before { content: "\e3ea"; }
.{icon-prefix}-graphic-eq:before { content: "\e1b8"; }
.{icon-prefix}-grid-off:before { content: "\e3eb"; }
.{icon-prefix}-grid-on:before { content: "\e3ec"; }
.{icon-prefix}-group:before { content: "\e7ef"; }
.{icon-prefix}-group-add:before { content: "\e7f0"; }
.{icon-prefix}-group-work:before { content: "\e886"; }
.{icon-prefix}-hd:before { content: "\e052"; }
.{icon-prefix}-hdr-off:before { content: "\e3ed"; }
.{icon-prefix}-hdr-on:before { content: "\e3ee"; }
.{icon-prefix}-hdr-strong:before { content: "\e3f1"; }
.{icon-prefix}-hdr-weak:before { content: "\e3f2"; }
.{icon-prefix}-headset:before { content: "\e310"; }
.{icon-prefix}-headset-mic:before { content: "\e311"; }
.{icon-prefix}-healing:before { content: "\e3f3"; }
.{icon-prefix}-hearing:before { content: "\e023"; }
.{icon-prefix}-help:before { content: "\e887"; }
.{icon-prefix}-help-outline:before { content: "\e8fd"; }
.{icon-prefix}-high-quality:before { content: "\e024"; }
.{icon-prefix}-highlight-off:before { content: "\e888"; }
.{icon-prefix}-history:before { content: "\e889"; }
.{icon-prefix}-home:before { content: "\e88a"; }
.{icon-prefix}-hotel:before { content: "\e53a"; }
.{icon-prefix}-hourglass-empty:before { content: "\e88b"; }
.{icon-prefix}-hourglass-full:before { content: "\e88c"; }
.{icon-prefix}-http:before { content: "\e902"; }
.{icon-prefix}-https:before { content: "\e88d"; }
.{icon-prefix}-image:before { content: "\e3f4"; }
.{icon-prefix}-image-aspect-ratio:before { content: "\e3f5"; }
.{icon-prefix}-import-export:before { content: "\e0c3"; }
.{icon-prefix}-inbox:before { content: "\e156"; }
.{icon-prefix}-indeterminate-check-box:before { content: "\e909"; }
.{icon-prefix}-info:before { content: "\e88e"; }
.{icon-prefix}-info-outline:before { content: "\e88f"; }
.{icon-prefix}-input:before { content: "\e890"; }
.{icon-prefix}-insert-chart:before { content: "\e24b"; }
.{icon-prefix}-insert-comment:before { content: "\e24c"; }
.{icon-prefix}-insert-drive-file:before { content: "\e24d"; }
.{icon-prefix}-insert-emoticon:before { content: "\e24e"; }
.{icon-prefix}-insert-invitation:before { content: "\e24f"; }
.{icon-prefix}-insert-link:before { content: "\e250"; }
.{icon-prefix}-insert-photo:before { content: "\e251"; }
.{icon-prefix}-invert-colors:before { content: "\e891"; }
.{icon-prefix}-invert-colors-off:before { content: "\e0c4"; }
.{icon-prefix}-iso:before { content: "\e3f6"; }
.{icon-prefix}-keyboard:before { content: "\e312"; }
.{icon-prefix}-keyboard-arrow-down:before { content: "\e313"; }
.{icon-prefix}-keyboard-arrow-left:before { content: "\e314"; }
.{icon-prefix}-keyboard-arrow-right:before { content: "\e315"; }
.{icon-prefix}-keyboard-arrow-up:before { content: "\e316"; }
.{icon-prefix}-keyboard-backspace:before { content: "\e317"; }
.{icon-prefix}-keyboard-capslock:before { content: "\e318"; }
.{icon-prefix}-keyboard-hide:before { content: "\e31a"; }
.{icon-prefix}-keyboard-return:before { content: "\e31b"; }
.{icon-prefix}-keyboard-tab:before { content: "\e31c"; }
.{icon-prefix}-keyboard-voice:before { content: "\e31d"; }
.{icon-prefix}-label:before { content: "\e892"; }
.{icon-prefix}-label-outline:before { content: "\e893"; }
.{icon-prefix}-landscape:before { content: "\e3f7"; }
.{icon-prefix}-language:before { content: "\e894"; }
.{icon-prefix}-laptop:before { content: "\e31e"; }
.{icon-prefix}-laptop-chromebook:before { content: "\e31f"; }
.{icon-prefix}-laptop-mac:before { content: "\e320"; }
.{icon-prefix}-laptop-windows:before { content: "\e321"; }
.{icon-prefix}-launch:before { content: "\e895"; }
.{icon-prefix}-layers:before { content: "\e53b"; }
.{icon-prefix}-layers-clear:before { content: "\e53c"; }
.{icon-prefix}-leak-add:before { content: "\e3f8"; }
.{icon-prefix}-leak-remove:before { content: "\e3f9"; }
.{icon-prefix}-lens:before { content: "\e3fa"; }
.{icon-prefix}-library-add:before { content: "\e02e"; }
.{icon-prefix}-library-books:before { content: "\e02f"; }
.{icon-prefix}-library-music:before { content: "\e030"; }
.{icon-prefix}-link:before { content: "\e157"; }
.{icon-prefix}-list:before { content: "\e896"; }
.{icon-prefix}-live-help:before { content: "\e0c6"; }
.{icon-prefix}-live-tv:before { content: "\e639"; }
.{icon-prefix}-local-activity:before { content: "\e53f"; }
.{icon-prefix}-local-airport:before { content: "\e53d"; }
.{icon-prefix}-local-atm:before { content: "\e53e"; }
.{icon-prefix}-local-bar:before { content: "\e540"; }
.{icon-prefix}-local-cafe:before { content: "\e541"; }
.{icon-prefix}-local-car-wash:before { content: "\e542"; }
.{icon-prefix}-local-convenience-store:before { content: "\e543"; }
.{icon-prefix}-local-dining:before { content: "\e556"; }
.{icon-prefix}-local-drink:before { content: "\e544"; }
.{icon-prefix}-local-florist:before { content: "\e545"; }
.{icon-prefix}-local-gas-station:before { content: "\e546"; }
.{icon-prefix}-local-grocery-store:before { content: "\e547"; }
.{icon-prefix}-local-hospital:before { content: "\e548"; }
.{icon-prefix}-local-hotel:before { content: "\e549"; }
.{icon-prefix}-local-laundry-service:before { content: "\e54a"; }
.{icon-prefix}-local-library:before { content: "\e54b"; }
.{icon-prefix}-local-mall:before { content: "\e54c"; }
.{icon-prefix}-local-movies:before { content: "\e54d"; }
.{icon-prefix}-local-offer:before { content: "\e54e"; }
.{icon-prefix}-local-parking:before { content: "\e54f"; }
.{icon-prefix}-local-pharmacy:before { content: "\e550"; }
.{icon-prefix}-local-phone:before { content: "\e551"; }
.{icon-prefix}-local-pizza:before { content: "\e552"; }
.{icon-prefix}-local-play:before { content: "\e553"; }
.{icon-prefix}-local-post-office:before { content: "\e554"; }
.{icon-prefix}-local-printshop:before { content: "\e555"; }
.{icon-prefix}-local-see:before { content: "\e557"; }
.{icon-prefix}-local-shipping:before { content: "\e558"; }
.{icon-prefix}-local-taxi:before { content: "\e559"; }
.{icon-prefix}-location-city:before { content: "\e7f1"; }
.{icon-prefix}-location-disabled:before { content: "\e1b6"; }
.{icon-prefix}-location-off:before { content: "\e0c7"; }
.{icon-prefix}-location-on:before { content: "\e0c8"; }
.{icon-prefix}-location-searching:before { content: "\e1b7"; }
.{icon-prefix}-lock:before { content: "\e897"; }
.{icon-prefix}-lock-open:before { content: "\e898"; }
.{icon-prefix}-lock-outline:before { content: "\e899"; }
.{icon-prefix}-looks:before { content: "\e3fc"; }
.{icon-prefix}-looks-3:before { content: "\e3fb"; }
.{icon-prefix}-looks-4:before { content: "\e3fd"; }
.{icon-prefix}-looks-5:before { content: "\e3fe"; }
.{icon-prefix}-looks-6:before { content: "\e3ff"; }
.{icon-prefix}-looks-one:before { content: "\e400"; }
.{icon-prefix}-looks-two:before { content: "\e401"; }
.{icon-prefix}-loop:before { content: "\e028"; }
.{icon-prefix}-loupe:before { content: "\e402"; }
.{icon-prefix}-loyalty:before { content: "\e89a"; }
.{icon-prefix}-mail:before { content: "\e158"; }
.{icon-prefix}-map:before { content: "\e55b"; }
.{icon-prefix}-markunread:before { content: "\e159"; }
.{icon-prefix}-markunread-mailbox:before { content: "\e89b"; }
.{icon-prefix}-memory:before { content: "\e322"; }
.{icon-prefix}-menu:before { content: "\e5d2"; }
.{icon-prefix}-merge-type:before { content: "\e252"; }
.{icon-prefix}-message:before { content: "\e0c9"; }
.{icon-prefix}-mic:before { content: "\e029"; }
.{icon-prefix}-mic-none:before { content: "\e02a"; }
.{icon-prefix}-mic-off:before { content: "\e02b"; }
.{icon-prefix}-mms:before { content: "\e618"; }
.{icon-prefix}-mode-comment:before { content: "\e253"; }
.{icon-prefix}-mode-edit:before { content: "\e254"; }
.{icon-prefix}-money-off:before { content: "\e25c"; }
.{icon-prefix}-monochrome-photos:before { content: "\e403"; }
.{icon-prefix}-mood:before { content: "\e7f2"; }
.{icon-prefix}-mood-bad:before { content: "\e7f3"; }
.{icon-prefix}-more:before { content: "\e619"; }
.{icon-prefix}-more-horiz:before { content: "\e5d3"; }
.{icon-prefix}-more-vert:before { content: "\e5d4"; }
.{icon-prefix}-mouse:before { content: "\e323"; }
.{icon-prefix}-movie:before { content: "\e02c"; }
.{icon-prefix}-movie-creation:before { content: "\e404"; }
.{icon-prefix}-music-note:before { content: "\e405"; }
.{icon-prefix}-my-location:before { content: "\e55c"; }
.{icon-prefix}-nature:before { content: "\e406"; }
.{icon-prefix}-nature-people:before { content: "\e407"; }
.{icon-prefix}-navigate-before:before { content: "\e408"; }
.{icon-prefix}-navigate-next:before { content: "\e409"; }
.{icon-prefix}-navigation:before { content: "\e55d"; }
.{icon-prefix}-network-cell:before { content: "\e1b9"; }
.{icon-prefix}-network-locked:before { content: "\e61a"; }
.{icon-prefix}-network-wifi:before { content: "\e1ba"; }
.{icon-prefix}-new-releases:before { content: "\e031"; }
.{icon-prefix}-nfc:before { content: "\e1bb"; }
.{icon-prefix}-no-sim:before { content: "\e0cc"; }
.{icon-prefix}-not-interested:before { content: "\e033"; }
.{icon-prefix}-note-add:before { content: "\e89c"; }
.{icon-prefix}-notifications:before { content: "\e7f4"; }
.{icon-prefix}-notifications-active:before { content: "\e7f7"; }
.{icon-prefix}-notifications-none:before { content: "\e7f5"; }
.{icon-prefix}-notifications-off:before { content: "\e7f6"; }
.{icon-prefix}-notifications-paused:before { content: "\e7f8"; }
.{icon-prefix}-offline-pin:before { content: "\e90a"; }
.{icon-prefix}-ondemand-video:before { content: "\e63a"; }
.{icon-prefix}-open-in-browser:before { content: "\e89d"; }
.{icon-prefix}-open-in-new:before { content: "\e89e"; }
.{icon-prefix}-open-with:before { content: "\e89f"; }
.{icon-prefix}-pages:before { content: "\e7f9"; }
.{icon-prefix}-pageview:before { content: "\e8a0"; }
.{icon-prefix}-palette:before { content: "\e40a"; }
.{icon-prefix}-panorama:before { content: "\e40b"; }
.{icon-prefix}-panorama-fish-eye:before { content: "\e40c"; }
.{icon-prefix}-panorama-horizontal:before { content: "\e40d"; }
.{icon-prefix}-panorama-vertical:before { content: "\e40e"; }
.{icon-prefix}-panorama-wide-angle:before { content: "\e40f"; }
.{icon-prefix}-party-mode:before { content: "\e7fa"; }
.{icon-prefix}-pause:before { content: "\e034"; }
.{icon-prefix}-pause-circle-filled:before { content: "\e035"; }
.{icon-prefix}-pause-circle-outline:before { content: "\e036"; }
.{icon-prefix}-payment:before { content: "\e8a1"; }
.{icon-prefix}-people:before { content: "\e7fb"; }
.{icon-prefix}-people-outline:before { content: "\e7fc"; }
.{icon-prefix}-perm-camera-mic:before { content: "\e8a2"; }
.{icon-prefix}-perm-contact-calendar:before { content: "\e8a3"; }
.{icon-prefix}-perm-data-setting:before { content: "\e8a4"; }
.{icon-prefix}-perm-device-information:before { content: "\e8a5"; }
.{icon-prefix}-perm-identity:before { content: "\e8a6"; }
.{icon-prefix}-perm-media:before { content: "\e8a7"; }
.{icon-prefix}-perm-phone-msg:before { content: "\e8a8"; }
.{icon-prefix}-perm-scan-wifi:before { content: "\e8a9"; }
.{icon-prefix}-person:before { content: "\e7fd"; }
.{icon-prefix}-person-add:before { content: "\e7fe"; }
.{icon-prefix}-person-outline:before { content: "\e7ff"; }
.{icon-prefix}-person-pin:before { content: "\e55a"; }
.{icon-prefix}-personal-video:before { content: "\e63b"; }
.{icon-prefix}-phone:before { content: "\e0cd"; }
.{icon-prefix}-phone-android:before { content: "\e324"; }
.{icon-prefix}-phone-bluetooth-speaker:before { content: "\e61b"; }
.{icon-prefix}-phone-forwarded:before { content: "\e61c"; }
.{icon-prefix}-phone-in-talk:before { content: "\e61d"; }
.{icon-prefix}-phone-iphone:before { content: "\e325"; }
.{icon-prefix}-phone-locked:before { content: "\e61e"; }
.{icon-prefix}-phone-missed:before { content: "\e61f"; }
.{icon-prefix}-phone-paused:before { content: "\e620"; }
.{icon-prefix}-phonelink:before { content: "\e326"; }
.{icon-prefix}-phonelink-erase:before { content: "\e0db"; }
.{icon-prefix}-phonelink-lock:before { content: "\e0dc"; }
.{icon-prefix}-phonelink-off:before { content: "\e327"; }
.{icon-prefix}-phonelink-ring:before { content: "\e0dd"; }
.{icon-prefix}-phonelink-setup:before { content: "\e0de"; }
.{icon-prefix}-photo:before { content: "\e410"; }
.{icon-prefix}-photo-album:before { content: "\e411"; }
.{icon-prefix}-photo-camera:before { content: "\e412"; }
.{icon-prefix}-photo-library:before { content: "\e413"; }
.{icon-prefix}-photo-size-select-actual:before { content: "\e432"; }
.{icon-prefix}-photo-size-select-large:before { content: "\e433"; }
.{icon-prefix}-photo-size-select-small:before { content: "\e434"; }
.{icon-prefix}-picture-as-pdf:before { content: "\e415"; }
.{icon-prefix}-picture-in-picture:before { content: "\e8aa"; }
.{icon-prefix}-pin-drop:before { content: "\e55e"; }
.{icon-prefix}-place:before { content: "\e55f"; }
.{icon-prefix}-play-arrow:before { content: "\e037"; }
.{icon-prefix}-play-circle-filled:before { content: "\e038"; }
.{icon-prefix}-play-circle-outline:before { content: "\e039"; }
.{icon-prefix}-play-for-work:before { content: "\e906"; }
.{icon-prefix}-playlist-add:before { content: "\e03b"; }
.{icon-prefix}-plus-one:before { content: "\e800"; }
.{icon-prefix}-poll:before { content: "\e801"; }
.{icon-prefix}-polymer:before { content: "\e8ab"; }
.{icon-prefix}-portable-wifi-off:before { content: "\e0ce"; }
.{icon-prefix}-portrait:before { content: "\e416"; }
.{icon-prefix}-power:before { content: "\e63c"; }
.{icon-prefix}-power-input:before { content: "\e336"; }
.{icon-prefix}-power-settings-new:before { content: "\e8ac"; }
.{icon-prefix}-present-to-all:before { content: "\e0df"; }
.{icon-prefix}-print:before { content: "\e8ad"; }
.{icon-prefix}-public:before { content: "\e80b"; }
.{icon-prefix}-publish:before { content: "\e255"; }
.{icon-prefix}-query-builder:before { content: "\e8ae"; }
.{icon-prefix}-question-answer:before { content: "\e8af"; }
.{icon-prefix}-queue:before { content: "\e03c"; }
.{icon-prefix}-queue-music:before { content: "\e03d"; }
.{icon-prefix}-radio:before { content: "\e03e"; }
.{icon-prefix}-radio-button-checked:before { content: "\e837"; }
.{icon-prefix}-radio-button-unchecked:before { content: "\e836"; }
.{icon-prefix}-rate-review:before { content: "\e560"; }
.{icon-prefix}-receipt:before { content: "\e8b0"; }
.{icon-prefix}-recent-actors:before { content: "\e03f"; }
.{icon-prefix}-redeem:before { content: "\e8b1"; }
.{icon-prefix}-redo:before { content: "\e15a"; }
.{icon-prefix}-refresh:before { content: "\e5d5"; }
.{icon-prefix}-remove:before { content: "\e15b"; }
.{icon-prefix}-remove-circle:before { content: "\e15c"; }
.{icon-prefix}-remove-circle-outline:before { content: "\e15d"; }
.{icon-prefix}-remove-red-eye:before { content: "\e417"; }
.{icon-prefix}-reorder:before { content: "\e8fe"; }
.{icon-prefix}-repeat:before { content: "\e040"; }
.{icon-prefix}-repeat-one:before { content: "\e041"; }
.{icon-prefix}-replay:before { content: "\e042"; }
.{icon-prefix}-replay-10:before { content: "\e059"; }
.{icon-prefix}-replay-30:before { content: "\e05a"; }
.{icon-prefix}-replay-5:before { content: "\e05b"; }
.{icon-prefix}-reply:before { content: "\e15e"; }
.{icon-prefix}-reply-all:before { content: "\e15f"; }
.{icon-prefix}-report:before { content: "\e160"; }
.{icon-prefix}-report-problem:before { content: "\e8b2"; }
.{icon-prefix}-restaurant-menu:before { content: "\e561"; }
.{icon-prefix}-restore:before { content: "\e8b3"; }
.{icon-prefix}-ring-volume:before { content: "\e0d1"; }
.{icon-prefix}-room:before { content: "\e8b4"; }
.{icon-prefix}-rotate-90-degrees-ccw:before { content: "\e418"; }
.{icon-prefix}-rotate-left:before { content: "\e419"; }
.{icon-prefix}-rotate-right:before { content: "\e41a"; }
.{icon-prefix}-router:before { content: "\e328"; }
.{icon-prefix}-satellite:before { content: "\e562"; }
.{icon-prefix}-save:before { content: "\e161"; }
.{icon-prefix}-scanner:before { content: "\e329"; }
.{icon-prefix}-schedule:before { content: "\e8b5"; }
.{icon-prefix}-school:before { content: "\e80c"; }
.{icon-prefix}-screen-lock-landscape:before { content: "\e1be"; }
.{icon-prefix}-screen-lock-portrait:before { content: "\e1bf"; }
.{icon-prefix}-screen-lock-rotation:before { content: "\e1c0"; }
.{icon-prefix}-screen-rotation:before { content: "\e1c1"; }
.{icon-prefix}-sd-card:before { content: "\e623"; }
.{icon-prefix}-sd-storage:before { content: "\e1c2"; }
.{icon-prefix}-search:before { content: "\e8b6"; }
.{icon-prefix}-security:before { content: "\e32a"; }
.{icon-prefix}-select-all:before { content: "\e162"; }
.{icon-prefix}-send:before { content: "\e163"; }
.{icon-prefix}-settings:before { content: "\e8b8"; }
.{icon-prefix}-settings-applications:before { content: "\e8b9"; }
.{icon-prefix}-settings-backup-restore:before { content: "\e8ba"; }
.{icon-prefix}-settings-bluetooth:before { content: "\e8bb"; }
.{icon-prefix}-settings-brightness:before { content: "\e8bd"; }
.{icon-prefix}-settings-cell:before { content: "\e8bc"; }
.{icon-prefix}-settings-ethernet:before { content: "\e8be"; }
.{icon-prefix}-settings-input-antenna:before { content: "\e8bf"; }
.{icon-prefix}-settings-input-component:before { content: "\e8c0"; }
.{icon-prefix}-settings-input-composite:before { content: "\e8c1"; }
.{icon-prefix}-settings-input-hdmi:before { content: "\e8c2"; }
.{icon-prefix}-settings-input-svideo:before { content: "\e8c3"; }
.{icon-prefix}-settings-overscan:before { content: "\e8c4"; }
.{icon-prefix}-settings-phone:before { content: "\e8c5"; }
.{icon-prefix}-settings-power:before { content: "\e8c6"; }
.{icon-prefix}-settings-remote:before { content: "\e8c7"; }
.{icon-prefix}-settings-system-daydream:before { content: "\e1c3"; }
.{icon-prefix}-settings-voice:before { content: "\e8c8"; }
.{icon-prefix}-share:before { content: "\e80d"; }
.{icon-prefix}-shop:before { content: "\e8c9"; }
.{icon-prefix}-shop-two:before { content: "\e8ca"; }
.{icon-prefix}-shopping-basket:before { content: "\e8cb"; }
.{icon-prefix}-shopping-cart:before { content: "\e8cc"; }
.{icon-prefix}-shuffle:before { content: "\e043"; }
.{icon-prefix}-signal-cellular-4-bar:before { content: "\e1c8"; }
.{icon-prefix}-signal-cellular-connected-no-internet-4-bar:before { content: "\e1cd"; }
.{icon-prefix}-signal-cellular-no-sim:before { content: "\e1ce"; }
.{icon-prefix}-signal-cellular-null:before { content: "\e1cf"; }
.{icon-prefix}-signal-cellular-off:before { content: "\e1d0"; }
.{icon-prefix}-signal-wifi-4-bar:before { content: "\e1d8"; }
.{icon-prefix}-signal-wifi-4-bar-lock:before { content: "\e1d9"; }
.{icon-prefix}-signal-wifi-off:before { content: "\e1da"; }
.{icon-prefix}-sim-card:before { content: "\e32b"; }
.{icon-prefix}-sim-card-alert:before { content: "\e624"; }
.{icon-prefix}-skip-next:before { content: "\e044"; }
.{icon-prefix}-skip-previous:before { content: "\e045"; }
.{icon-prefix}-slideshow:before { content: "\e41b"; }
.{icon-prefix}-smartphone:before { content: "\e32c"; }
.{icon-prefix}-sms:before { content: "\e625"; }
.{icon-prefix}-sms-failed:before { content: "\e626"; }
.{icon-prefix}-snooze:before { content: "\e046"; }
.{icon-prefix}-sort:before { content: "\e164"; }
.{icon-prefix}-sort-by-alpha:before { content: "\e053"; }
.{icon-prefix}-space-bar:before { content: "\e256"; }
.{icon-prefix}-speaker:before { content: "\e32d"; }
.{icon-prefix}-speaker-group:before { content: "\e32e"; }
.{icon-prefix}-speaker-notes:before { content: "\e8cd"; }
.{icon-prefix}-speaker-phone:before { content: "\e0d2"; }
.{icon-prefix}-spellcheck:before { content: "\e8ce"; }
.{icon-prefix}-star:before { content: "\e838"; }
.{icon-prefix}-star-border:before { content: "\e83a"; }
.{icon-prefix}-star-half:before { content: "\e839"; }
.{icon-prefix}-stars:before { content: "\e8d0"; }
.{icon-prefix}-stay-current-landscape:before { content: "\e0d3"; }
.{icon-prefix}-stay-current-portrait:before { content: "\e0d4"; }
.{icon-prefix}-stay-primary-landscape:before { content: "\e0d5"; }
.{icon-prefix}-stay-primary-portrait:before { content: "\e0d6"; }
.{icon-prefix}-stop:before { content: "\e047"; }
.{icon-prefix}-storage:before { content: "\e1db"; }
.{icon-prefix}-store:before { content: "\e8d1"; }
.{icon-prefix}-store-mall-directory:before { content: "\e563"; }
.{icon-prefix}-straighten:before { content: "\e41c"; }
.{icon-prefix}-strikethrough-s:before { content: "\e257"; }
.{icon-prefix}-style:before { content: "\e41d"; }
.{icon-prefix}-subject:before { content: "\e8d2"; }
.{icon-prefix}-subtitles:before { content: "\e048"; }
.{icon-prefix}-supervisor-account:before { content: "\e8d3"; }
.{icon-prefix}-surround-sound:before { content: "\e049"; }
.{icon-prefix}-swap-calls:before { content: "\e0d7"; }
.{icon-prefix}-swap-horiz:before { content: "\e8d4"; }
.{icon-prefix}-swap-vert:before { content: "\e8d5"; }
.{icon-prefix}-swap-vertical-circle:before { content: "\e8d6"; }
.{icon-prefix}-switch-camera:before { content: "\e41e"; }
.{icon-prefix}-switch-video:before { content: "\e41f"; }
.{icon-prefix}-sync:before { content: "\e627"; }
.{icon-prefix}-sync-disabled:before { content: "\e628"; }
.{icon-prefix}-sync-problem:before { content: "\e629"; }
.{icon-prefix}-system-update:before { content: "\e62a"; }
.{icon-prefix}-system-update-alt:before { content: "\e8d7"; }
.{icon-prefix}-tab:before { content: "\e8d8"; }
.{icon-prefix}-tab-unselected:before { content: "\e8d9"; }
.{icon-prefix}-tablet:before { content: "\e32f"; }
.{icon-prefix}-tablet-android:before { content: "\e330"; }
.{icon-prefix}-tablet-mac:before { content: "\e331"; }
.{icon-prefix}-tag-faces:before { content: "\e420"; }
.{icon-prefix}-tap-and-play:before { content: "\e62b"; }
.{icon-prefix}-terrain:before { content: "\e564"; }
.{icon-prefix}-text-format:before { content: "\e165"; }
.{icon-prefix}-textsms:before { content: "\e0d8"; }
.{icon-prefix}-texture:before { content: "\e421"; }
.{icon-prefix}-theaters:before { content: "\e8da"; }
.{icon-prefix}-thumb-down:before { content: "\e8db"; }
.{icon-prefix}-thumb-up:before { content: "\e8dc"; }
.{icon-prefix}-thumbs-up-down:before { content: "\e8dd"; }
.{icon-prefix}-time-to-leave:before { content: "\e62c"; }
.{icon-prefix}-timelapse:before { content: "\e422"; }
.{icon-prefix}-timer:before { content: "\e425"; }
.{icon-prefix}-timer-10:before { content: "\e423"; }
.{icon-prefix}-timer-3:before { content: "\e424"; }
.{icon-prefix}-timer-off:before { content: "\e426"; }
.{icon-prefix}-toc:before { content: "\e8de"; }
.{icon-prefix}-today:before { content: "\e8df"; }
.{icon-prefix}-toll:before { content: "\e8e0"; }
.{icon-prefix}-tonality:before { content: "\e427"; }
.{icon-prefix}-toys:before { content: "\e332"; }
.{icon-prefix}-track-changes:before { content: "\e8e1"; }
.{icon-prefix}-traffic:before { content: "\e565"; }
.{icon-prefix}-transform:before { content: "\e428"; }
.{icon-prefix}-translate:before { content: "\e8e2"; }
.{icon-prefix}-trending-down:before { content: "\e8e3"; }
.{icon-prefix}-trending-flat:before { content: "\e8e4"; }
.{icon-prefix}-trending-up:before { content: "\e8e5"; }
.{icon-prefix}-tune:before { content: "\e429"; }
.{icon-prefix}-turned-in:before { content: "\e8e6"; }
.{icon-prefix}-turned-in-not:before { content: "\e8e7"; }
.{icon-prefix}-tv:before { content: "\e333"; }
.{icon-prefix}-undo:before { content: "\e166"; }
.{icon-prefix}-unfold-less:before { content: "\e5d6"; }
.{icon-prefix}-unfold-more:before { content: "\e5d7"; }
.{icon-prefix}-usb:before { content: "\e1e0"; }
.{icon-prefix}-verified-user:before { content: "\e8e8"; }
.{icon-prefix}-vertical-align-bottom:before { content: "\e258"; }
.{icon-prefix}-vertical-align-center:before { content: "\e259"; }
.{icon-prefix}-vertical-align-top:before { content: "\e25a"; }
.{icon-prefix}-vibration:before { content: "\e62d"; }
.{icon-prefix}-video-library:before { content: "\e04a"; }
.{icon-prefix}-videocam:before { content: "\e04b"; }
.{icon-prefix}-videocam-off:before { content: "\e04c"; }
.{icon-prefix}-view-agenda:before { content: "\e8e9"; }
.{icon-prefix}-view-array:before { content: "\e8ea"; }
.{icon-prefix}-view-carousel:before { content: "\e8eb"; }
.{icon-prefix}-view-column:before { content: "\e8ec"; }
.{icon-prefix}-view-comfy:before { content: "\e42a"; }
.{icon-prefix}-view-compact:before { content: "\e42b"; }
.{icon-prefix}-view-day:before { content: "\e8ed"; }
.{icon-prefix}-view-headline:before { content: "\e8ee"; }
.{icon-prefix}-view-list:before { content: "\e8ef"; }
.{icon-prefix}-view-module:before { content: "\e8f0"; }
.{icon-prefix}-view-quilt:before { content: "\e8f1"; }
.{icon-prefix}-view-stream:before { content: "\e8f2"; }
.{icon-prefix}-view-week:before { content: "\e8f3"; }
.{icon-prefix}-vignette:before { content: "\e435"; }
.{icon-prefix}-visibility:before { content: "\e8f4"; }
.{icon-prefix}-visibility-off:before { content: "\e8f5"; }
.{icon-prefix}-voice-chat:before { content: "\e62e"; }
.{icon-prefix}-voicemail:before { content: "\e0d9"; }
.{icon-prefix}-volume-down:before { content: "\e04d"; }
.{icon-prefix}-volume-mute:before { content: "\e04e"; }
.{icon-prefix}-volume-off:before { content: "\e04f"; }
.{icon-prefix}-volume-up:before { content: "\e050"; }
.{icon-prefix}-vpn-key:before { content: "\e0da"; }
.{icon-prefix}-vpn-lock:before { content: "\e62f"; }
.{icon-prefix}-wallpaper:before { content: "\e1bc"; }
.{icon-prefix}-warning:before { content: "\e002"; }
.{icon-prefix}-watch:before { content: "\e334"; }
.{icon-prefix}-wb-auto:before { content: "\e42c"; }
.{icon-prefix}-wb-cloudy:before { content: "\e42d"; }
.{icon-prefix}-wb-incandescent:before { content: "\e42e"; }
.{icon-prefix}-wb-iridescent:before { content: "\e436"; }
.{icon-prefix}-wb-sunny:before { content: "\e430"; }
.{icon-prefix}-wc:before { content: "\e63d"; }
.{icon-prefix}-web:before { content: "\e051"; }
.{icon-prefix}-whatshot:before { content: "\e80e"; }
.{icon-prefix}-widgets:before { content: "\e1bd"; }
.{icon-prefix}-wifi:before { content: "\e63e"; }
.{icon-prefix}-wifi-lock:before { content: "\e1e1"; }
.{icon-prefix}-wifi-tethering:before { content: "\e1e2"; }
.{icon-prefix}-work:before { content: "\e8f9"; }
.{icon-prefix}-wrap-text:before { content: "\e25b"; }
.{icon-prefix}-youtube-searched-for:before { content: "\e8fa"; }
.{icon-prefix}-zoom-in:before { content: "\e8ff"; }
.{icon-prefix}-zoom-out:before { content: "\e900"; }
